{% extends 'parents/parentsbase.html' %}
{% load static %}
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'css/attendance.css' %}" rel="stylesheet">
<link href="{% static 'css/dhtmlxcalendar.css' %}" rel="stylesheet">
<style>
    input::-webkit-input-placeholder {
        color: gray;
    }

    input:-moz-placeholder {
        color: gray;
    }

    input::-ms-input-placeholder {
        color: gray;
    }
</style>
<div class="container">
    <i class="fa fa-search fa-2x"></i>
    <input type="text" id="search" style="width:90%" onkeyup="sort()" placeholder="Search names ..">
    <br>
    From:<input type="text" id="calendar" placeholder="Filter by dates ..">
    To:<input type="text" id="calendar2" placeholder="Filter by dates ..">
    <table class="table table-bordered table-hover table-striped" id="table">
        <thead>
            <tr>
                <th>Your child</th>
                <th>Date</th>
                <th>Late</th>
                <th>In / Out</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in attendance %}
            <tr id={{ rec.id }}>
                <td>{{ rec.user.first_name }} {{ rec.user.last_name }}
                </td>
                <td>{{ rec.date }}</td>
                <td>{{ rec.late }}</td>
                <td>{% if rec.inout %}
                    <i class="fa fa-arrow-up"></i>
                    {% else %}
                    <i class="fa fa-arrow-down"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>

<script>
    var myCalendar2;
    var myCalendar;
    var months = ['Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct.', 'Nov.', 'Dec.'];

    function sort() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
    function sort1() {
        // Declare variables 
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search1");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function sort2() {
        // Declare variables 
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search2");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function onCalendarChange() {
        var table, tr, td, i;
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        var fDate = new Date(myCalendar.getFormatedDate("%Y/%n/%j"));
        var lDate = new Date(myCalendar2.getFormatedDate("%Y/%n/%j"));
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3].textContent;
            var year = td.split(' ')[2].split(',')[0];
            var month = td.split(' ')[0];
            var day = td.split(' ')[1].split(',')[0];
            var m = months.indexOf(month);
            var cDate = new Date(year, m, day);
            if (cDate <= lDate && cDate >= fDate && tr[i].style.display == "")
                tr[i].style.display = "";
            else
                tr[i].style.display = "none";
        }
    }

    $(function () {
        myCalendar = new dhtmlxCalendarObject("calendar");
        myCalendar2 = new dhtmlXCalendarObject("calendar2");
        myCalendar.attachEvent("onChange", onCalendarChange);
        myCalendar2.attachEvent("onChange", onCalendarChange);
    });
</script>
<!-- <script type="text/javascript" src="{% static 'js/attendance.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/dhtmlxcalendar.js' %}"></script>
{% endblock content %}